---
import { Image } from 'astro:assets';

---

<div class="hamburger">
  <div class=" flex justify-between items-center">
    
    <div class="flex items-center gap-3">
      <Image class="menu_logo" src="/images/brand/laptop1.png" width={50} height={50} alt="logo"></Image>
      <a href="/" class="text-2xl sm:text-3xl mr-0 themetxt pt-1"><span class="font-thin">Fabio</span> <span class="font-extrabold">Biondi</span></a>
    </div>
    
    <div class="hamburger-button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <!-- <div class="absolute bg-red-700 text-white text-sm font-bold text-center rotate-45 p-2 w-96 -right-40 top-4">BETA</div> -->

  </div>
</div>

<script src="/src/helpers/menu" />
 

<style is:global>
  
.hamburger {
  /* padding-right: 20px; */
}
.hamburger .hamburger-button {
  cursor: pointer;
}


.hamburger .line {
  /* background-color: white; */
  @apply bg-black dark:bg-white;
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 7px;
}
.hamburger .line:last-child {
  margin-bottom: 0
}
/* .collapsed {
  @apply !hidden lg:!block;
} */



  </style>
