---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<script>
  // if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage))) {
  //       document.documentElement.classList.add('dark');
  //   } else {
  //       document.documentElement.classList.remove('dark')
  //   }
  
</script>
<header class="mb-10 3xl:max-w-screen-3xl mx-auto">
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
