---
import ThemeIcon from "./ThemeIcon.astro";
import { Image, Picture } from 'astro:assets';

---

<div class="nav-links h-80 lg:h-24 flex items-center justify-between mx-10 collapsed transition-all !overflow-hidden">
  <div class="flex flex-col lg:flex-row items-center justify-between w-full ">
    <a href="/"  class="flex flex-col lg:flex-row items-center gap-x-2 !m-0 !p-0">
      <div class="flex-none hidden lg:block">
        <Image class="menu_logo"
               src={import("../../images/brand/emote-laptop.png")} width={100} height={100} alt="logo"></Image>
      </div>
      <div class=" text-2xl  lg:text-4xl hidden lg:block">
        <span class="font-thin">FFFabio</span> <span class="font-extrabold">Biondi</span>
      </div>

    </a>

    
    <div class="flex flex-col lg:flex-row justify-between items-center gap-4" >
      <div class="flex flex-col lg:flex-row justify-center lg:justify-start " >
        <!-- <a href="/about/">About</a> -->
        <a class="menu_item block lg:hidden xl:block" href="/about/">About</a>
        <a class="menu_item" href="/blog/">Blog</a>
        <a class="menu_item" href="/tutorials/">Tutorials</a>
        <a class="menu_item" href="/video-courses/">🇮🇹 Video Courses</a>
        <!-- <a href="/tags/">Tags</a> -->
      </div>

      <ThemeIcon />
    </div>  
  </div>

</div>




<style is:global>
  
.nav-links {
  margin: 0;
}

.nav-links a {
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  /* font-size: 1.2rem; */
  font-weight: bold;
  text-transform: uppercase;
  @apply text-black dark:text-white dark:hover:text-sky-400 transition text-lg xl:text-xl;
}

/*.nav-links a:hover {
  @apply  bg-slate-900 rounded-lg transition-all duration-300
}*/

.collapsed {
  @apply !h-0 lg:!h-24  overflow-hidden  lg:overflow-auto 
} 


@media screen and (min-width: 1024px) {
  .nav-links {
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    @apply my-1 mx-1 lg:mx-3 xl:mx-4;

  }

  .hamburger {
    display: none;
  }
}


</style>
