---
const socials = [
  { id: 'linkedin', label: 'LinkedIn', href: 'https://www.linkedin.com/in/fabiobiondi/', icon: 'fa-linkedin' },
  { id: 'twitter', label: 'Twitter', href: 'https://twitter.com/biondifabio', icon: 'fa-twitter' },
  { id: 'facebook', label: 'Facebook', href: 'xxx', icon: 'fa-facebook' },
  { id: 'telegram', label: 'Telegram', href: 'https://t.me/we_are_devs', icon: 'fa-telegram' },
  { id: 'whatsapp', label: 'Twitch', href: 'https://www.twitch.tv/fabio_biondi', icon: 'fa-whatsapp' },
]


---
<div class="socialBarWrapper hidden 2xl:inline fixed top-1/2  -translate-y-1/2 -right-96 z-10 ">
  <div class="flex flex-col gap-5 bg-slate-900 rounded-tl-xl rounded-bl-xl p-3 w-16 justify-center items-center border border-r-0 border-slate-600" id="socialBar">
    <div class="text-xs	text-slate-400 border-b border-slate-500 pb-3">SHARE</div>
    {
      socials.map(social => {
        return (
          <div class="social-icon" data-name={social.id}>
            <div class="text-white hover:text-pink-500 transition" aria-label={social.label}>
              <i class:list={['fa fa-2x', social.icon]}></i>
            </div>
          </div>    
        )
      })
    }
  </div>
</div>

<script>
  import { fbButton, linkedin, telegram, whatsapp, tw } from 'vanilla-sharing';
  import anime from "animejs"

  anime({
    targets: '.socialBarWrapper',
    right: [-100, 0],
    duration: 600,
    delay: 2000,
    easing: 'easeInOutSine'
  })

  document.querySelectorAll('.social-icon')?.forEach(el=> {
    el.addEventListener('click', e => {
      const type = (e.currentTarget as HTMLElement).dataset.name;
      const url = window.location.href;
      const title = document.title;
      switch(type) {
        case 'telegram':
        telegram({ url, title })
          break;
        case 'linkedin':
          linkedin({ url, title })
          break;
        case 'facebook':
          fbButton({ url })  
          break;
        case 'whatsapp':
          whatsapp({ url, title})
          break;
        case 'twitter':
          tw({
            url,
            title,
            // hashtags: array,
          })

          break;
      }
    })
  })

  /*
  document.querySelector('#socialBar').addEventListener('click', () => {
    console.log()
    console.log(window.location.href)
    fbButton({
      url: window.location.href,
    })  
  })
*/
  

</script>