---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Tags from "@widgets/Tags.astro";
import { Image } from 'astro:assets';
import Hint from "@widgets/Hint.astro";

export const prerender = false;

---

<BaseLayout
  pageTitle="Fabio Biondi - FrontEnd Training"
  description="Training Angular, React, RxJS, Redux, JavaScript, TypeScript"
>
  astro v.4 {Math.random()}
  <div class="page page-min themetxt">
    <h1 class="text-6xl font-extrabold">Fabio Biondi</h1>
    <h2 class="text-4xl mb-4">Full-time Front-End Instructor</h2>

    <Hint type="empty" title="WHAT IS MY JOB?">
      <div class="text-2xl"> I teach front-end development and I'm especially focused on Angular & React ecosystems</div>
    </Hint>

    <div class="text-md md:text-2xl">
      <div class="font-bold mb-3">QUICK SUMMARY</div>

      <ul>
        <li>• Speaker, Content Creator & Community Founder</li>
        <li>• Full time front-end trainer: Angular, React, RxJS, NGRX, Redux Toolkit, JS, TS ... </li>
        <li>• 15+ years of experience in developing enterprise front-end applications and components</li>
        <li>• <span class="font-bold">Google Developer Expert</span> in Angular since 2018</li>
        <li>• <span class="font-bold">Microsoft MVP</span> / Developer Technologies since 2020</li>
        <li>• Open source contributor of <span class="font-bold">QwikUI</span>, the UIKIT of  <a class="text-sky-500" href="https://qwik.builder.io/" target="_blank">Qwik</a>, a next generation full-stack framework</li>
        <li>• Ex Adobe Flash / Flex / Air Certified Expert and Instructor 😅</li>
      </ul>
    </div>


    <div class="text-base md:text-xl bg-slate-900 px-6 pt-6 pb-12 rounded-xl my-12 relative overflow-hidden">

      <div class="absolute font-bold bg-orange-700 text-white -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
        MAIN TECHS
      </div>

      <div class="ml-16 mt-12 text-white">

        I'm especially focused in JavaScript front-end applications and all
        related aspects, both visuals and architecturals, I often work on
        cutting-edge libraries and frameworks offering training, development, code
        review and consulting on Angular, React and several other front-end
        technologies.

        <br /><br />
        I daily use both, Angular & React (since their beta versions). I love them and their ecosystems:
      </div>



      <div class="flex flex-col md:flex-row gap-4 items-center md:justify-center">
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <Image
            src={import('../images/courses/angular-emotes.png')}
            alt="Angular"
            height={300}
            quality={90}
            aspectRatio={1}
          />
          <Tags white center tags={["Angular", "RxJS", "NGRX", "TypeScript"]} />
        </div>
        <div class="flex flex-col items-center justify-center w-full sm:w-1/2">
          <Image
            src={import('../images/courses/react-emote.png')}
            alt="React"
            height={300}
            quality={90}
            aspectRatio={2325 / 2037}
          />
          <Tags
            white
            center
            tags={[
              "React",
              "Redux",
              "TypeScript",
              "RTK/RTK Query",
              "Zustand",
            ]}
          />
        </div>
      </div>
    </div>



    <div class="bg-slate-900 pt-6 pb-12 rounded-xl my-12 relative overflow-hidden">

      <div class="absolute font-bold bg-sky-700 text-white -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
       OTHER SKILLS
      </div>

      <div class="text-center px-12 mt-12 text-white">

        <div class="flex flex-col md:flex-row items-center gap-3 mt-3 ">
          Languages: <Tags
          white
            tags={[
              "JavaScript",
              "TypeScript",
              "Python (newbie)",
            ]}
          />
        </div>


        <div class="flex flex-col md:flex-row items-center gap-3 mt-3 ">
          UI Frameworks & Libs: <Tags
          white
            tags={[
              "Astro",
              "NextJS",
              "Google Lit",
              "Qwik",
              "SolidJS",
            ]}
          />
        </div>


        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
          Tests: <Tags white Tags  tags={["Jest", "Vitest", "React Testing Library", "Cypress"]} />
        </div>

        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
          Tools: <Tags white Tags  tags={["WebPack", "ESBuild", "ViteJS"]} />
        </div>



        <div class="flex flex-col md:flex-row items-center gap-3 mt-3 ">
          Animations and funcy UI: <Tags
          white
            tags={[
              "GSAP / TweenMax",
              "D3.js (SVG)",
              "CreateJS (canvas)",
              "Framer Motion",
            ]}
          />
        </div>

        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
          Server: <Tags white Tags  tags={["Node", "Azure", "Google Cloud", "Vercel"]} />
        </div>

        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
          RealTime: <Tags white Tags  tags={["Firebase", "MQTT", "Sockets"]} />
        </div>
        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
        IoT: <Tags white Tags  tags={["Arduino", "RaspBerry", "ESP32", "Circuit Python", "Micro Python"]} />
        </div>

        <div class="flex flex-col md:flex-row items-center gap-3 mt-3">
          Design Tools: <Tags white Tags tags={["Affinity Suite", "Sketch", "Balsamiq Mockup"]} />
        </div>
      </div>

    </div>

    <div class="bg-slate-900 pt-6 pb-12 rounded-xl my-12 relative overflow-hidden">

      <div
        class="flex flex-col lg:flex-row items-center gap-8 text-base lg:text-xl p-6"
      >
        <div>
          <Image
            src={import('../images/brand/social2.0-low.png')}
            alt="Social Icon"
            height={300}
            quality={90}
            aspectRatio={1}
          />
        </div>
        <div class="text-white">
          <h1 class="text-2xl font-bold ">COMMUNITY</h1>
          <ul>

            <li>
              • I run 4 Facebook Groups (Angular, React, JavaScript and Job Opportunities with more or less 40K members)
            </li>
            <li>
              • I run a YouTube Channel and I'm Twitch Partner where I often
              teach, share what I learn and my experiments
            </li>
            <li>
              • I am Twitch Partner: I learn in public, teach and interview guest speakers
            </li>
          </ul>

          <br />
          <span
            class="px-6 py-2 my-6 font-bold rounded-xl border border-sky-600 text-white"
          >
            All links are available in the footer
          </span>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .page-min {
    min-height: calc(100vh - 500px);
  }
</style>
