@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */

/* :root {
  --color-bg: orange
  --color-text: white;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff; 
} */

[data-theme="light"] {
  --color-bg: rgb(203 213 225);
  --color-text: #333;
  /* --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff; */
}
  /* other styles */
[data-theme="dark"] {
  --color-bg: rgb(30 41 59); /* @apply bg-slate-800 */
  --color-text: #fffff;
  /* --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #8e32dc;
  --block-quote-text: #dddddd; */
}
/* } */

html, 
main,
body {
    height: 100%;
    
}


html {
  scroll-behavior: smooth;
   background-color: var(--color-bg) !important;
  color: var(--color-text) !important; 
  /* @apply text-base lg:text-lg */
}

body {
  font-family: "Raleway";
  scroll-behavior: smooth;
  background: var(--color-bg);
  color: var(--color-text);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: "Raleway";
  scroll-behavior: smooth;;
}


* {
  box-sizing: border-box;
}

.themetxt {
  @apply text-black dark:text-white
}

a.link {
  @apply dark:text-sky-400 dark:hover:text-sky-600 transition font-bold text-sky-600 hover:text-sky-700
}

.outline-text {
  color: rgb(30 41 59) !important;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff;
  transition: all 0.5s
}


a.outline-text:hover {
  color: rgb(30 41 59) !important;
  text-shadow: 2px 0 #00a4ff, -2px 0 #00a4ff, 0 2px #00a4ff, 0 -2px #00a4ff;
}

/* nav styles */
/* 
.hamburger {
  padding-right: 20px;
}
.hamburger .hamburger-button {
  cursor: pointer;
}

.hamburger .line {
  background-color: white;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
}

.collapsed {
  @apply !hidden lg:!block;
} */

.button-white {
  @apply border border-white text-white px-4 p-2 rounded-xl hover:border-pink-400 hover:bg-white hover:bg-opacity-10 transition
}

/* 
html.dark {
  @apply !bg-slate-800 text-white;
} */


/*
.mockup-code  {
  background-color: #282A36 !important;
  @apply my-3
}
pre.astro-code  {
  background-color: #282A36 !important;
  @apply p-6 rounded-3xl
}
*/


.page {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: "Raleway";
  scroll-behavior: smooth;
}

.page-xxl {
  margin: 0 auto;
  max-width: 160ch !important;
}

.page-fullhd {
  max-width: 160ch ;
  /* background-color: red; */
}
.page-content {

}

.blurFix {
  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0);
}


/** BUTTONS **/


button.button {
  @apply px-4 md:px-8 py-2 md:py-3 rounded-2xl text-xl md:text-2xl  font-bold
        bg-slate-200 hover:bg-slate-300  text-black 
        disabled:opacity-40 transition;
}

button.sm {
  @apply text-xs sm:text-sm p-1 sm:p-2 border-0
}
.c-red,
button.c-red {
  @apply bg-red-700 hover:bg-red-800  text-white;
}


.c-sky,
button.c-sky {
  @apply bg-sky-600 hover:bg-sky-700  text-white;
}


button.c-dark-middle {
  @apply bg-slate-800 hover:bg-gray-700  text-white ;
}

button.c-dark {
  @apply bg-black hover:bg-gray-900  text-white border-2 border-white;
}


.c-purple,
button.c-purple {
  @apply bg-purple-600 hover:bg-purple-700  text-white;
}



.c-dark-slate,
button.c-dark-slate {
  @apply bg-slate-900 hover:bg-slate-600  text-white border-2 border-white;
}


