---
const { title, url } = Astro.props
---

<div class="mt-4 mb-12 relative">
  <div class="mockup-code !rounded-b-none " style="background-color: #0d1117"></div>
  <div  style="background-color: #0d1117">
    <div class="px-5">
      <slot />
    </div>
  </div>
  <div class="p-4 rounded-b-2xl  shadow-slate-900 shadow-md "  style="background-color: #0d1117"></div>
</div>
