---
import HDivider from "./HDivider.astro";

const { slug } = Astro.props;
const href = Astro.url.href;
---

<!-- <HDivider secondary>COMMENTS</HDivider> -->

<div class="mx-3 sm:mx-6">
  <!-- DISQUS CONTAINER -->
  <div id="disqus_thread" class="page bg-white text-black rounded-xl px-2 !mb-16 ">

  <!-- SHOW BEFORE COOKIE IS ACCEPPTED -->
    <div id="content-before-consent">
      <div class="mx-3 text-center text-black">
          <div>  You have to accept cookie policy to display comments </div>
          <div>Click the botton-right icon with the "lock" symbol </div>
      </div>
    </div>
  </div>
</div>

<style>
  #disqus_thread {
    @apply !text-black;
  }
</style>



<!-- WC to send params to disqus script  -->
<astro-disqus data-slug={slug} data-url={href}></astro-disqus>

<!-- disqus scripts -->
<script type="text/plain" data-iub-purposes="3" class="_iub_cs_activate" id="dsq-count-scr" src="//fabiobiondi-dev.disqus.com/count.js" async></script>

<script type="text/plain" data-iub-purposes="3" class="_iub_cs_activate" >
  class DisqusEvents extends HTMLElement {
    constructor() {
      super();
      var disqus_config = function () {
        this.page.url = this.dataset.href;  
        this.page.identifier = this.dataset.slug; 
      };
      
      var d = document, s = d.createElement('script');
      s.src = 'https://fabiobiondi-dev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      };

  }
  customElements.define('astro-disqus', DisqusEvents);

</script>

<!-- Script to activate disqus from iubenda -->
<script 
  type="text/plain" 
  data-iub-purposes="3" 
  class="_iub_cs_activate" 
  id="dsq-count-scr" src="//fabiobiondi-dev.disqus.com/count.js" async
></script>



<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<script type="text/plain" data-iub-purposes="3" class="_iub_cs_activate" >
;(function() {
 var divToRemove = document.getElementById('content-before-consent');
 if (divToRemove && divToRemove.parentNode) {
   divToRemove.parentNode.removeChild(divToRemove);
 }
})();
</script>

<style is:global>
  /* hide disqus ads */
  div#disqus_thread iframe[sandbox] {
    max-height: 0px !important;
  }
</style>
