---
interface Props {
  primary?: boolean;
  secondary?: boolean;
  hideOnMobile?: boolean;
}

const { primary, secondary, accent, hideOnMobile } = Astro.props;

---

<div class:list={
  ['divider !sm:mx-32 sm:px-32 sm:mt-12 ', {
    ['invisible sm:visible']: hideOnMobile,
    ['text-black before:bg-black after:bg-black dark:text-slate-200 dark:before:!bg-slate-200 dark:after:bg-slate-200']: primary,
    ['text-slate-500 before:!bg-slate-500 after:bg-slate-500']: secondary,
    ['text-pink-500 before:!bg-pink-500 after:bg-pink-500']: accent
  }]
}><slot /></div>
