---
import { Image } from 'astro:assets';

interface Props {
  title?: string;
  type?: 'tip' | 'alert' | 'info' | 'empty';
  img?: string;
}

const { img, title , type = 'tip'  } = Astro.props;


const thumbImb = {
  'tip':  import('../../images/brand/emote-opla_right.png'),
  'alert':  import('../../images/brand/emote-opla_right.png'),
  'info':  import('../../images/brand/emote-opla_right.png'),
  'empty':  import('../../images/brand/emote-opla_right.png'),
  // 'alert': '/images/brand/emote-desk.png',
}
---


<div class:list={[
  'hint rounded-xl p-5 text-black px-10 xl:px-16 relative mt-20 mb-24',
  {'bg-slate-50': type === 'tip' },
  {'bg-none border-2 border-slate-700 text-black dark:text-white': type === 'info' },
  {'bg-none border-2 border-red-400 text-black dark:text-white': type === 'alert' },
  {'bg-none border-2 border-slate-700 text-black dark:text-white': type === 'empty' },
]}>

  { title && <h1 class="text-xl xl:text-2xl font-extrabold mb-4">{title}</h1>}

  <div>
    <slot />
  </div>

  <Image 
    class="absolute -left-5 -top-4 xl:-left-14 xl:-top-10 w-16 xl:w-28"
    src={img || thumbImb[type]}
    alt="" 
    width={120}
    quality={50}
    fit="outside"
    aspectRatio={1} 
  /> 

</div>


<style is:global>
    .hint p,
    .hint  li {
      @apply text-base xl:text-xl;
    }
</style>
