---
interface Props {
  src: string;
}

const { src, noMargins = false, vimeo = false } = Astro.props;

---


<div
  class:list={[
    'bg-slate-700 p-3 rounded-2xl my-3',
    { 'mx-0': noMargins },
    { 'mx-3': !noMargins },
  ]}
>
  {
    vimeo ?
      <iframe
        width="100%" class="aspect-video bg-black" src={src} title="External Content" allowfullscreen loading="lazy"
      ></iframe> :
      <iframe
        width="100%" class="h-96 sm:h-full sm:aspect-video" src={src} title="External Content" allowfullscreen loading="lazy"
      ></iframe>
  }

</div>
