---

interface Props {
  title?: string;
  mt: 'none' | 'sm' | 'md' | 'lg'; // padding top
  center: boolean;
}

const { center, title, mt = 'lg' } = Astro.props;
---
<div class="paragraph "> 

  <div class:list={[
    `text-lg leading-6 md:text-xl md:leading-7 lg:text-2xl lg:leading-10`,
    {
      'mt-0': mt === 'none',
      'mt-4': mt === 'sm',
      'mt-8': mt === 'md',
      'mt-16': mt === 'lg',
    }
  ]}>
    {title && <h1 set:html={title} class:list={[{ 'text-center': center }]} />}
    <div  class:list={[{ 'text-center': center }]} >
      <slot />
    </div>
    </div>
</div>

<style>
.paragraph {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 0 1rem;
  line-height: 1.5;
}
</style>
