---
interface Props {
  isLight: boolean;
  isDark: boolean;
  isTrasparent: boolean;
  isPadding: boolean;
}

const {isTrasparent = false, isPadding = false, isLight = false, isDark = false } = Astro.props;


---

<div class="flex justify-center my-6">
  <div class:list={['mockup-phone', {'bg-transparent': isTrasparent }]}>
    <div class:list={['camera', {'hidden': isTrasparent }]}></div> 
    <div class="display">
      <div
      class:list={[
        'artboard artboard-demo phone-1  ',
        {'bg-slate-100': isLight, 'bg-slate-900 text-white': isDark, 'bg-transparent': isTrasparent, 'p-3': isPadding}
      ]}>
       
        <slot />
      </div>
    </div>
  </div>
</div>