---
import { getAllPosts } from "src/api/blog-post.utils";

const { frontmatter, primary = true, secondary, accent } = Astro.props;

const allPosts = await Astro.glob("../../pages/**/*.{md,mdx}");

// const series = allPosts
//   .filter((p) =>  import.meta.env.DEV ? true : !p.frontmatter.draft)
//   .filter(p => p.frontmatter?.series?.name === frontmatter.series?.name)
//   .sort((a, b) => a?.frontmatter?.series?.idx - b?.frontmatter?.series?.idx)


const series = getAllPosts(allPosts)
  .filter(p => p.frontmatter?.series?.name === frontmatter.series?.name)
---



<div class="flex justify-center relative">
 
  
{
  series.length > 1 && ( 
    <div class="my-12 md:my-24 relative overflow-hidden">

      <div class="absolute font-bold bg-sky-700 text-white -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
        RELATED POSTS
      </div>

      <div class:list={[
        'p-6 m-0 rounded-box',
        { 'bg-slate-900': primary },
        { 'bg-slate-600': secondary },
        { 'bg-pink-600': accent },
      ]}>

        <div class="flex flex-col gap-2 text-center my-8">
          {/*<span class="text-white 50 pt-3 pb-0">Related Articles</span>  */}
          <span class="text-white text-3xl font-extrabold pb-3 pt-0">{frontmatter?.series?.name}</span>
        </div>

        <div> 

            {
              series.map((s) => {
                const isCurrentPage = s.frontmatter.slug === frontmatter.slug;
                return isCurrentPage ? null : (
                  <div class="mb-2 text-white">
                   <!-- {
                      isCurrentPage ? <i class="fa fa-hand-o-right mx-2"/> : <span class="text-xl">•</span>
                    }-->
                    <a
                      href={`/blog/` + s.frontmatter.slug} 
                      class:list={['', {'bg-slate-500 px-3 py-1 rounded-lg pointer-events-none': isCurrentPage} ]}>
                      <span class="not-italic text-white text-xl hover:text-sky-500">{s.frontmatter.title} </span>
                    </a>
                  </div>
                )
              })
            }
            </div>


      </div>

      <div></div>
     
    </div>
  )
}
</div>
