<div id="iframe_youtube_wrapper"
     class=" fixed top-0 bottom-0 left-0 right-0 z-50  text-white  flex justify-center align-middle items-center mx-auto "
     style="visibility: hidden; backdrop-filter: blur(10px); background-color: rgba(0,0,0,0.5)"
>

    <iframe
      id="iframe_youtube"
      style="background: #000; color-scheme: normal"
      class=" aspect-video bg-black"
      allowfullscreen
      allowtransparency="false"
      loading="lazy"
    ></iframe>
  <!--  class=" aspect-video portrait:w-full landscape:md:h-[640px]  " -->

  <!-- CLose buttons -->
  <div class="fixed top-1 right-1 md:top-3 md:right-3 closeYouTubeModalX cursor-pointer">
    <i class="fa fa-times fa-3x"></i>
  </div>

  <div class="fixed -bottom-8 left-1/2 transform -translate-x-1/2 -translate-y-1/2 closeYouTubeModalBottomButton" style="z-index: 100000000">
    <button class="button !rounded-b-none closeYouTubeModal">CLOSE</button>
  </div>

</div>



<script>
  import { isVisible } from "../../store/modal-youtube-player";

  /*if (window.location.hash) {
    isVisible.set(document.URL.substr(document.URL.indexOf('#')+1))
  }*/
  window.onhashchange = function(event) {
    isVisible.set(null)
    const iframe = document.getElementById('iframe_youtube')
    iframe.contentWindow.location.replace(`/blank`);

    /* console.log(window.history)
     console.log('onPop', window.location.hash, isVisible.get())
      event.preventDefault()
     if (window.location.hash === '#player') {
       window.history.back()
       window.location.hash = '';
       isVisible.set(null)

     }*/
  }

  document.querySelector('.closeYouTubeModalBottomButton').addEventListener('click', closeModal)
  document.querySelector('.closeYouTubeModalX').addEventListener('click', closeModal)

 function closeModal() {
    isVisible.set(null)
    const iframe = document.getElementById('iframe_youtube')
    iframe.contentWindow.location.replace(`/blank`);
  }


  isVisible.subscribe(youtubeId => {
    const wrapper = document.getElementById('iframe_youtube_wrapper')
    const iframe = document.getElementById('iframe_youtube')
    if (!wrapper) return;

    // load a blank page
    iframe.contentWindow.location.replace(`/blank`);



    if (!!youtubeId){

      // window.location.hash = youtubeId;
      window.location.hash = youtubeId;

      setTimeout(() => {
        // show modal
        wrapper.style.visibility = 'visible';
        document.body.style.overflow = 'hidden';
        iframe.contentWindow.location.replace(`https://www.youtube.com/embed/${youtubeId}?rel=0`);

   /*     iframe.contentWindow.location.replace(``);
        // iframe.setAttribute('src', `https://www.youtube.com/embed/${youtubeId}?rel=0`);
        iframe.contentWindow.location.replace(`https://www.youtube.com/embed/${youtubeId}?rel=0`);
*/
        const videoRatio = 16/9
        const viewPortRatio = window.innerWidth / window.innerHeight;

        if (videoRatio < viewPortRatio) {
          const maxHeight = window.innerHeight;
          iframe.style.height = (maxHeight)  + 'px'
          iframe.style.width = maxHeight * (16/9)
        } else {
          const maxWidth = window.innerWidth
          iframe.style.width = maxWidth + 'px';
          iframe.style.height = maxWidth * (16/9)
        }
      })


    } else {
      // hide modal

      wrapper.style.visibility = 'hidden'
      document.body.style.overflow = 'auto';
      iframe.removeAttribute('src')
    }
  })

</script>


<script>
  import { isVisible } from "../../store/modal-youtube-player";

  document.querySelectorAll('.youtubeModalTrigger')?.forEach(el=> {
    el.addEventListener('click', e => {
      const youtubeId = e.currentTarget.dataset.id;
      isVisible.set(youtubeId)
    })
  })

</script>

<style>
  .hidden {
    display: none;
  }
</style>
<!-- When user scroll to this point the ScrollToArrow is shown -->
<!-- <div id="showArrowScrollTrigger"></div> -->


<!-- <div class="border-t border-slate-700 block md:hidden"></div> -->
