---
import { ContactForm } from "src/components/forms/contact-form/ContactForm";
import BaseLayout from "src/layouts/BaseLayout.astro";

---


<BaseLayout
  pageTitle="Fabio Biondi - Contact Form"
  description="Training Angular, React, RxJS, Redux, JavaScript, TypeScript"
>
  <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js" />
  <!-- <div set:html={res.content}></div> -->

  <div class="max-w-screen-xl mx-auto p-3 mb-12">
    <ContactForm client:idle/>

  </div>
</BaseLayout>
