---
import * as W from '@widgets'
import { Image } from 'astro:assets';

import { getYoutubePLaylist } from 'src/api/youtube-playlist';
import { getAllPosts } from 'src/api/blog-post.utils';
//  import AngularEvo from '../images/courses/video-corso-angular-evo.png'

const youtubeVideos = await getYoutubePLaylist('PLUioGv_6G9YK7m5HAN0sK-3Bti0ZVwjlT', 6)

import HomeHero from 'src/components/home/HomeHeroSection.astro';
import HomeVideoCourses from 'src/components/home/HomeVideoCourses.astro';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import NewsLetterPanel from 'src/components/panels/NewsLetterPanel';
import HomeLatestPosts from 'src/components/home/HomeLatestPosts.astro';
import HomeLatestTutorials from 'src/components/home/HomeLatestTutorials.astro';
import HomeLatestVideos from 'src/components/home/HomeLatestVideos.astro';
import HomeYouTubeVideosSection from 'src/components/home/HomeYouTubeVideosSection.astro';

const posts = await Astro.glob("../pages/blog/**/*.{md,mdx}")
const allPosts = getAllPosts(posts, false)
//const imagesPosts = import.meta.glob<ImageMetadata>('./blog/**/*', { import: 'default' })
const imagesPosts = import.meta.glob<{ default: ImageMetadata }>('./blog/**/*');


---

<BaseLayout pageTitle="Fabio Biondi - FrontEnd Training" description="Training Angular, React, RxJS, Redux, JavaScript, TypeScript">
  astro v.4 {Math.random()}
  <HomeHero />
  <HomeLatestPosts posts={allPosts} images={imagesPosts} />

    <W.Separator size="lg" />

    <HomeLatestTutorials />

      <W.Separator size="xl" />

      <div class="flex flex-col justify-center items-center gap-3">
        <div>
          <a href="/video-courses" class="m-0 text-4xl sm:text-5xl md:text-7xl font-extrabold  outline-text">
            New Video courses
          </a>
        </div>
        <div class="text-black dark:text-white">(in italian only)</div>
      </div>

      <HomeLatestVideos
        title1="Angular Evolution"
        title2="Il primo video corso su Angular v.17"
        items={[
          '180+ videos',
          '14 chapters',
          '9+ hours'
        ]}
        url="/video-courses/angular-evolution"
        image={import('../images/courses/video-corso-angular-evo.png')}
        tags={['angular', 'typescript']}
      />

      <HomeLatestVideos
        title1="Cypress"
        title2="Scrivere E2E test per applicazioni front-end"
        items={[
          '100+ videos',
          '12 chapters',
          '5 hours'
        ]}
        url="/video-courses/scrivere-e2e-test-con-cypress"
        image={import("../images/courses/video-corso-cypress.png")}
        tags={['front-end', 'test', 'e2e']}
      />

      <HomeLatestVideos
        title1="React Pro:"
        title2="Creare Real World applications"
        items={[
          '160+ videos',
          '12+ chapters',
          '8+ hours'
        ]}
        url="/video-courses/react-pro-real-world-applications"
        image={import("../images/brand/emote-shopping-cart.png")}
        tags={['react', 'typescript', 'tailwind', 'zustand']}
      />

      <W.Separator size="xl" />
      <!--<HomeYouTubeVideosSection videos={youtubeVideos} />-->

      <HomeVideoCourses />



    <NewsLetterPanel
      client:visible
      newsListId="0817a264-d1bf-47a3-ae83-d39fd2bd3489"
      promoListId="b2c160b2-e01d-4a2a-984f-2f96f3c12cd5"
    />
</BaseLayout>



<!-- <NewsLetterPanel
  client:visible
  data={{ "listIds": ["3fbeba4d-4201-4906-90c4-2ba5a396d7e9"] }}
/> -->


