.content {
  /* font-family: "Raleway";  */
  @apply text-black dark:text-white
}
.content > h1 {
  @apply text-3xl md:text-4xl mt-12 mb-4 md:mt-24 md:mb-6 font-extrabold;
}
.content > h1::before {
  font-family: 'FontAwesome';
  content:"\f061";
  @apply mr-2;
}

.content > h2 {
  @apply text-2xl md:text-3xl mt-12 md:mt-24 font-extrabold

}

.content > h3 {
  @apply text-xl md:text-2xl mt-12 md:mt-16 font-semibold;
}

.content > h4 {
  @apply text-2xl mt-12 md:mt-24 font-thin
}

.content > p {
  @apply text-lg leading-6 md:text-xl md:leading-7 lg:text-2xl lg:leading-10  my-6 opacity-90 px-4 ;
}


.content a {
  @apply italic font-bold no-underline text-sky-600 dark:text-sky-500 hover:text-sky-800 dark:hover:text-sky-700
}

.content > p img {
  @apply rounded-xl
}

#tutorialHero code {
  @apply text-slate-700 bg-white rounded-xl px-2 py-0 mx-0.5
}


.content > h1 code,
.content li code,
.content  p code {
  @apply text-white bg-slate-700 rounded-xl px-2 py-0 mx-0.5
}
/* when a `code` markdown syntax contains an url []() */
.content > p a code {
  @apply bg-sky-400;
}
.content > p a code::before {
  font-family: 'FontAwesome';
  content:"\f08e";
  @apply text-sm mr-2;
}

.content li {
  @apply ml-12 leading-6 md:text-xl md:leading-7 lg:text-2xl lg:leading-10 ;
  list-style-type: disc;
}



/*.content p > a {*/

.content #topics {
  @apply text-black dark:text-white text-left border-2 lowercase border-b-0 border-slate-700 px-6 py-3 rounded-t-xl  w-full  mx-auto mt-12 mb-0
}
.content #topics::before {
font-family: 'FontAwesome';
content:"\f097";
@apply mr-4;
}

.content #topics + ul  {
  @apply text-lg border-2 border-slate-700 mt-0 px-12 py-6 rounded-t-none rounded-b-xl w-full mx-auto my-0 mb-12 
}

.content #topics + ul li {
  @apply ml-3 ;
  list-style-type: disc;
}
.content #topics + ul li a {
  @apply  no-underline text-black dark:text-white not-italic hover:text-sky-600 dark:hover:text-sky-400;
}

blockquote {
  padding: 10px 100px 20px;
  position: relative;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  min-height: 10rem;
}

blockquote p {
  @apply text-2xl text-slate-300;
  text-align: left;
  font-style: italic;
}


blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -20px;
  left: 10px;
  content:"\f0eb";
  /* content: attr('data-xuz') */
  font-size: 130px;
  /* color: rgb(78, 255, 8); */
  @apply text-slate-700 opacity-80;
}

blockquote::after {
  top: 20px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  border-bottom: 3px solid #ff00b7;
  height: 3px;
  width: 200px;
}